@import url(//db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue);
ol{
    font-family: "Helvetica Neue";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.container{
    /* max-width:1920px width:100% */
    max-width: 100%;
    max-width: 1920px;
    background-color: #0020F4;
    
    
}
.banner{
    /* max-width 155px width 100% margin auto padding top color ზედმეტია */
    max-width: 100%;
    max-width: 115px;
    margin-left: 240px;
    margin-top: 40px;
    color: black;
}
ol{
    margin: auto;
    margin-left: 240px;
    display: inline-flex;
    size: 16px;
}
li{
    margin-right: 43px ;
    color: #FFFFFF;
}
.main{
    text-decoration: underline;
}
.contact{
    background-color: #FFFFFF;
    color: #171717;
    border-radius: 28px;
    border-bottom: 30px;
    padding-left: 36px;
    padding-right: 43px;
    padding-top: 18px;
    padding-bottom: 18px;
    size: 16px;
    margin: auto;
    margin-top: -20px;
}
.containertwo{
    display: flex;
    margin-left: 240px;
    margin-top: 280px;
    border-radius: 15px;
    
}
.house{
    width: 100%;
    max-width:707px;
    height: 597px;
    margin: auto;
    padding-right: 25px;
}
.housetwo{
    width: 100%;
    max-width: 948px;
    height: 800px;
    
}



